
h2 {
  margin-bottom: 8px;
}

.container {
  width: 60vw;
  margin: 20px auto;
  font-family: Open Sans;
}

.row {
  display: inline-block;
  width:100%;
}

.col-50 {
  width: 46%;
  display: inline-block;
  padding: 1em;
  float: left;
}

.text-center {
  text-align: center;
}

.strong {
  font-weight: bold;
}
.content-box {
  border: 1px solid #ccc;
  padding: 20px;
}

.hr {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 8px 0;

}

.form-group {
  width: 100%;
  margin: 0 auto;
}

.center-form {
  width: 60%;
}

.form-label {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  height: 30px;
  font-size: 17px;
  padding-left: 10px;
}

pre {
  background: #efefef;
  padding: 5px;
  border: 1px solid #484848;
  border-radius: 5px;
  font-size: 10px;
  width: 100%;
}

.sidebar {
  width: 10vw;
  position: fixed;
  top: 5vh;
  right:5vh;
}

.btn {
  font-size: 16px;
  height:45px;
  cursor: pointer;
}

.hidden{
  display: none;
}

.btnbig {
  font-size: 36px;
  height:300px;
  width:100%;
  background-color: red;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

body{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

select {
  width: 100%;
  height: 30px;
}
